

/* EXAMPLE 3

line height is 20px by default so add 30px top and bottom to equal the new .navbar-brand 80px height  */
.static-background {
    background-color: #e6e6e6;
    min-height: 100vh;
    padding-top: 20px;
    padding-bottom: 20px;
    -webkit-box-shadow: 0px 0px 33px 0px rgba(0,0,0,1);
-moz-box-shadow: 0px 0px 33px 0px rgba(0,0,0,1);
box-shadow: 0px 0px 33px 0px rgba(0,0,0,1);
}

.main-nav {
    background-image: url('../img/geometric-sun.jpg');
    background-repeat: repeat-x;
}

.dropdown-button, .dropdown-content {
    width: 200px;
}

.brand-logo>img {
    width: 300px;
    height: auto;
}

.button-collapse {
    display: none;
}

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }

  .instImg {
      height: 150px;
      width: auto;
  }